<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nonconsumable.harmonicaToolkit</key>
	<string>HTK1</string>
	<key>nonconsumable.harmonica</key>
	<string>HTK1</string>
    <key>subscription.htkpro</key>
    <string>HTK1</string>
    <key>subscription.htkpro12</key>
    <string>HTK1</string>
</dict>
</plist>
